.App {
  text-align: center;
}


.left-block{
  flex: 0 0 auto;
  width: 60%
}

.left-title{
  margin-left: 20%;
}

.left-text{
  margin-left: 20%;
  margin-right: 20%;
}

.right-block{
  flex: 0 0 auto;
  width:40%;
  background-color: cadetblue;
  color: white;
}

.container{
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

@media screen and (max-width: 1200px){
  .left-block{
    width: 100%;
  }

  .right-block{
    width: 100%;
  }
}